{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Title</th>
                <th>Summary</th>
                <th>Created_at</th>
                <th>Author</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                
                <td>{{ post.title }}</td>
                <td>{{ post.summary }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                {#<td>{{ post.author }}</td>#}
                {#<td>{{ post.user }}</td>#}
                <td>
                {% if post.user %}
                    {{ post.user.username }}
                {% else %}
                    <i>Annonymous</i>
                {% endif %}
                </td>
                 <td><img src="{{asset('images/post/')}}{{ post.image }}" style="width:75px;max-height:75px;"></td>

                    <a href="{{ path('post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}">Create new</a>

    <h1>Ajax</h1>
    <button class = "ajax">click me!</button>
    <table class = "table table-bordered table-dark">
        <tbody id = "post"></tbody>
    </table>

{% endblock %}
